<footer class="p-4 bg-[f5f5fa] md:p-8 lg:p-10 border-t-2 border-white shadow-lg">
    <div class="mx-auto max-w-screen-xl text-center">
        <a href="#" class="flex justify-center items-center text-2xl font-semibold text-gray-900">
            <svg class="mr-2 h-8" width="32" height="32" xmlns="http://www.w3.org/2000/svg">
                <!-- Círculo exterior celeste -->
                <circle cx="16" cy="16" r="14" fill="#3498db" />
                
                <!-- Círculo intermedio blanco -->
                <circle cx="16" cy="16" r="10" fill="#ffffff" />
                
                <!-- Círculo interior amarillo -->
                <circle cx="16" cy="16" r="5" fill="#f1c40f" />
              </svg>
            EvaluAr    
        </a>
        <p class="my-6 text-gray-500">Este sitio web ha sido desarrollado con el propósito de automatizar tareas repetitivas o complejas para los docentes. <br> Cabe destacar que este proyecto no tiene ninguna relación con el gobierno.</p>
        <div class="bg-gray-100 py-4">
          <span class="text-sm text-gray-500 sm:text-center">© {{anio}} - Desarrollado por 
             <a href="https://www.linkedin.com/in/alejandrojorba/" class="text-blue-500 hover:text-blue-700">Alejandro Jorba</a>
          </span>
       </div>
           </div>
  </footer>